
@font-face {
  font-family: iconfont;
  src: url("iconfont.eot#iefix") format("embedded-opentype"),
url("iconfont.woff2") format("woff2"),
url("iconfont.woff") format("woff"),
url("iconfont.ttf") format("truetype"),
url("iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}


.arrow-bottom,.arrow-more,.arrow-right,.back,.bangzhu,.check,.checked_circle,.checked_square,.dizhidingwei,.edit,.email,.employee_intro,.fenxiang,.fenxiang1,.guanbi,.history,.huiyuan,.icon-down,.icon-up,.pen,.phone,.previewleft,.related,.renzheng,.shoucang1,.shoucang2,.triangle-down,.unchecked_circle,.unchecked_square {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.arrow-bottom::before{
  content:'\e610';
}

.arrow-more::before{
  content:'\e611';
}

.arrow-right::before{
  content:'\e612';
}

.back::before{
  content:'\e613';
}

.bangzhu::before{
  content:'\e614';
}

.check::before{
  content:'\e615';
}

.checked_circle::before{
  content:'\e616';
}

.checked_square::before{
  content:'\e617';
}

.dizhidingwei::before{
  content:'\e618';
}

.edit::before{
  content:'\e619';
}

.email::before{
  content:'\e61a';
}

.employee_intro::before{
  content:'\e61b';
}

.fenxiang::before{
  content:'\e61c';
}

.fenxiang1::before{
  content:'\e61d';
}

.guanbi::before{
  content:'\e61e';
}

.history::before{
  content:'\e61f';
}

.huiyuan::before{
  content:'\e620';
}

.icon-down::before{
  content:'\e621';
}

.icon-up::before{
  content:'\e622';
}

.pen::before{
  content:'\e623';
}

.phone::before{
  content:'\e624';
}

.previewleft::before{
  content:'\e625';
}

.related::before{
  content:'\e626';
}

.renzheng::before{
  content:'\e627';
}

.shoucang1::before{
  content:'\e628';
}

.shoucang2::before{
  content:'\e629';
}

.triangle-down::before{
  content:'\e62a';
}

.unchecked_circle::before{
  content:'\e62b';
}

.unchecked_square::before{
  content:'\e62c';
}

